* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background: rgb(167, 115, 47);
}
h1 {
    text-align: center;
}
.container {
    display: flex;
    margin: 20px;
}
img {
    height: 300px;
    width: 260px;
    max-width: 1320px;
    margin: 10px;
    object-fit: cover;
}
.detail {
    padding-top: 100px;
}
a {
    border: 1px solid blue;
}